<html>
<head>
	<title>MoneyInsights Home</title>
</head>
<body>
	<header>
		<h1>MoneyInsights</h1>
		{% load static %}
		<img src="{% static 'images/logo.png' %}" alt="logo" width="250" height="200"/>
		<nav>
			<a href="/">Home</a>
			<a href="/assets/view">Assets</a>
			<a href="/statements/view">Statements</a>
			<a href="/logout">Logout</a>
		</nav>
	</header>
	{% if username %}
	<h2>Welcome, {{username}} </h2>
	{% endif %}
	<div>
		<h1>Finance stats</h1>
		{% for key,value in stats.items %}
		<label>{{ key }}: </label>
		<label>{{ value }}</label><br>
		{% endfor %}
	</div>
</body>
</html>